
body{
    font-family: 'Yusei Magic', sans-serif;
    background: rgba(173, 194, 78, 0.474);
    
}

.titulo{
    width: 30%;
    color: crimson;
    
    
}

.encabezado{
    float: right;
}

h1{
    color: cornflowerblue;
    
}


p big{
    color:rgb(151, 48, 131);
    
}

.form__input2{
    color: brown;
}

.enlace__a{
    color:rgb(238, 50, 59);
}
ul{
    color:rgb(238, 50, 59);
    
}

img{
    width: 25%;
    
    
}
video{
    width: 20%;
}


.relato{
    align-content: left;
}